#wrapper {
  padding-left: 180px; }

#sidebar-wrapper {
  margin-left: -180px;
  left: 180px;
  width: 180px;
  background: #1B1C1D;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000; }

#page-content-wrapper {
  margin-left: 180px;
  padding-top: 5vh; }

.sidebar-nav {
  width: 180px; }

.sidebar-nav li {
  line-height: 40px;
  font-size: 15px; }

.sidebar-nav li a {
  color: #999;
  display: block; }

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255, 255, 255, 0.1); }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 26px;
  margin-bottom: 100px; }

.table-checkbox {
  width: 10px; }

.login {
  position: fixed !important;
  width: 180px;
  bottom: 0px !important; }
